body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(sup2.jpg );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header and navbar */

#header {
    width: 90%;
    margin: 0.6em auto;
    color: rgb(117, 112, 112);
    text-align: center;
    padding-bottom: 0px;
    background-color: #ffffffd7;
    border-radius: 5PX;
    opacity: 0.9;
}

#cvhead {
    width: 100%;
    border-bottom: 4px double rgba(8, 8, 77);
    margin-bottom: 0;
    padding-top: 0.5em;
}

#container {
    display: flex;
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

#sidebar {
    width: 20%;
    min-width: 150px;
    border: 2px solid rgb(8, 8, 77);
    background-color: rgba(197, 201, 206);
    padding: 0.6em 0.3em;
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(37, 34, 34);
}

#blocks {
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    border-top: 10px solid rgba(9, 9, 78, 0.741);
    border-bottom: 5px solid rgba(9, 9, 78, 0.741);
    padding-top: 0.5em;
}

#omakuva {
    display: block;
    margin: 0 auto;
    width: 90%;
    border: 4px double rgb(9, 9, 78);
    border-radius: 50%;
    box-sizing: border-box;
}

#nimi {
    text-align: center;
    font-size: 1em;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

#contacts {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.profilelink {
    margin-left: 0.1em;
}

.Navbar {
    width: 90%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.navbar li {
    background-color: lightslategray;
    cursor: pointer;
}

.navlink {
    color: black;
    cursor: pointer;
}

.profiletext {
    font-style: italic;
    font-size: 0.8em;
    padding-left: 0.2em;
}

#gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 0.2em;
    column-gap: 0.2em;
    width: 90%;
    margin: 0.5em auto;
}

.galleryphoto {
    width: 30%;
    border-radius: 5px;
}

#content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 80%;
    margin-top: 0;
    padding-left: 0.5em;
    opacity: 0.9;
}

.contentbox {
    background-color: #edeff1f5;
    border-radius: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0;
}

#education {
    flex-grow: 1;
    order: 1;
}

#experience {
    flex-grow: 2;
    order: 2;
}

#skills {
    flex-grow: 1;
    order: 3;
}

.contentdivider {
    border-top: 1px dashed #bbb;
}

.heading {
    margin-bottom: 0.5em;
    margin-top: 0;
    font-size: 0.9em;
    color: rgb(37, 34, 34);
}

.headingmargin {
    margin-top: 0;
}

.contentheading {
    margin-bottom: 0;
    margin-top: 0.4em;
}

.years {
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(70, 64, 64);
    font-size: 0.7em;
}

.description {
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 1.5em;
    margin-bottom: 0;
    color: rgb(37, 34, 34);
}

th {
    font-size: 0.9em;
    text-align: left;
    width: auto;
    border-bottom: 1px dotted grey;
}

td {
    font-size: 0.8em;
}

table {
    margin-top: 1em;
    margin-bottom: 1em;
}

.returnlink {
    margin-bottom: 0.5em;
}

@media all and (max-width: 730px) {

    .galleryphoto {
        width: 45%;
    }
}

@media all and (max-width: 500px) {

    #container {
        flex-direction: column;
    }

    .galleryphoto {
        width: 30%;
    }

    #sidebar {
        float: none;
        width: 100%;
    }

    #content {
        margin-left: 0;
        padding: 0 0;
        margin-top: 0.2em;
        width: 100%;
    }

    .heading {
        margin-top: 0.2em;
    }
    
    .headingmargin {
        margin-top: 0;
    }
}